.app {
  position: relative;

  > h1 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 2;
    font-size: 22px;
  }

  > i {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #222;
  }
}
