@import url('https://fonts.googleapis.com/css?family=Cousine');
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cousine', monospace;
}

html,
body {
  height: 100%;
  font-size: 16px; /* for rems */
}
